<section class="modal-form">
  <a href="<%= root_url %>#">
    X
  </a>

  <h1 class="brand-title">leppo</h1>

  <form class="login" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="account-field" name="user[email]" type="text" value placeholder="Email">
    <input class="account-field" name="user[password]" type="password" value placeholder="Password">
    <br>
    <br>
    <input class="btn account-btn hvr-radial-out" type="submit" value="Sign in">

  </form>
</section>

<div class="modal-close">

</div>
