<section class="modal-form animation-fadein">
  <h1 class="brand-title">leppo</h1>

  <section class="brand-subtitle">
    Follow leading designers from all over the world.
    <br>
    Get inspired.
  </section>

  <form class="login" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="account-field" name="user[email]" type="text" value placeholder="Email">
    <input class="account-field" name="user[password]" type="password" value placeholder="Password">
    <br>
    <br>
    <input class="btn account-btn hvr-radial-out" type="submit" value="Sign in">
    <br>
  </form>

  <a href="/users/new">
    <button class='small-btn btn hvr-radial-out'>
      Sign up
    </button>
  </a>
  <br>
  <button class='demo small-btn btn hvr-radial-out'>
    Demo login
  </button>
</section>

<div style="position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 2;
background-color: #fff;">

</div>

<script>
  $(function() {
    $("body").on("click", ".demo", function (event) {
      event.stopPropagation();
      event.preventDefault();
      $(".account-field").first().val("a@a.com");
      $(".account-field").last().val("password");
      $(".login").submit();
    });
  });
</script>
