<h1>Add a Feed</h1>

<form action="/feeds" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Instagram Handle<br>
    <input name="feed[ig_user]" type="text"><br>
  </label><br>
  <label>Category ID<br>
    <input name="feed[category_id]" type="text"><br>
  </label><br>
  <label>Country ID<br>
    <input name="feed[country_id]" type="text"><br>
  </label><br>
  <input type="submit" value="Submit"><br>
</form>
