<div class="errors">
  Oopsies 😞...
  <ul class="error-list">
    <% errors.forEach( function (error) { %>
      <li>
        <%= error %>
      </li>
    <% }) %>
  </ul>
  <span style="float: right;">Try again? We&rsquo;d love to have you! 😊</span>
</div>
