<h1 class="brand-title">leppo</h1>

<section class="brand-subtitle">
  Follow leading designers from all over the world.
  <br>
  Get inspired.
</section>

<form class="signup">
  <input class="account-field" name="user[email]" type="text" value placeholder="Email">
  <input class="account-field" name="user[password]" type="password" value placeholder="Password">
  <br>
  <br>
  <button class="btn account-btn hvr-radial-out">Sign up</button>
  <br>
</form>

<a href="#signin">
  <button class='small-btn btn hvr-radial-out'>
    Sign in
  </button>
</a>
<br>
