<h1 class="brand-title">leppo</h1>

<section class="brand-subtitle">
  Follow leading designers from all over the world.
  <br>
  Get inspired.
</section>

<form class="signup">
  <input class="account-field" name="user[email]" type="text" value placeholder="Email">
  <input class="account-field" name="user[password]" type="password" value placeholder="Password">
  <br>
  <br>
  <button class="btn account-btn hvr-radial-out">Sign up</button>
  <br>
</form>

<a href="#signin">
  <button class='small-btn btn hvr-radial-out'>
    Sign in
  </button>
</a>
<br>

<a href="https://instagram.com/oauth/authorize/?client_id=542116928d5047218ea73bc368729081&redirect_uri=http://leppo.herokuapp.com&response_type=code">
  <button class='small-btn btn hvr-radial-out'>
    Sign up via <i class="fa fa-instagram"></i>
  </button>
</a>
