<h2 class="country-title group">
  <strong>
    <a href="#/countries/<%= country.escape("name").toLowerCase() %>"><%= country.escape("name") %></a>
  </strong>
</h2>

<ul class="country-posts group">

</ul>
