<section class="img-container">
  <img src="<%= post.escape('full_img') %>" alt="" />
  <section class="post-author">
    <a href="#/feeds/<%= post.escape('author').toLowerCase() %>">
      <%= post.escape('author') %>
    </a>
  </section>
</section>

<section class="counters group">
  <div class="likes-count">
    <i class="icon-heart-empty"></i>
    <span class="likes-count-num"><%= post.escape('like_count') %></span>
  </div>
  <div class="comments-count">
    <span class="icon-comment-alt"></span>
    <span class="comments-count-num">0</span>
  </div>
</section>
