<li class="post-item">
  <h3 class="category-name">
    <a href="#/categories/<%= post.escape('category').toLowerCase() %> ">
      <%= post.escape('category') %>
    </a>
  </h3>

  <%= JST["posts/_thumb"]({ post: post }) %>

</li>
