<h3 class="group-name">
  <% if (groupBy === "category" || groupBy === "liked") { %>
    <a href="#/countries/<%= post.escape('country').toLowerCase() %>">
      <%= post.escape('country') %>
    </a>
  <% } else if (groupBy == "country" || groupBy === "liked") { %>
    <a href="#/categories/<%= post.escape('category').toLowerCase() %>">
      <%= post.escape('category') %>
    </a>
  <% } %>
</h3>
