
<section class="modal-img-container">
  <img src="<%= post.escape('full_img') %>">
</section>

<div class="post-content">
  <div class="likes">
    <i class="icon-heart-empty pointer"></i>
    <span class="likes-count-num">
      <%= post.escape('likers_names') %>
    </span>
  </div>

  <div class="post-caption">
    <%= post.escape('caption') %>
  </div>
  <div class="post-comments">
  </div>

  <form class="comment-form">
    <input type="hidden" name="comment[post_id]" value="<%= post.escape('id') %>">
    <textarea class="comment-body" name='comment[body]' id='body' rows="1"></textarea>
    <button class="add-comment btn">Submit</button>
  </form>
</div>
