
<section class="modal-img-container">
  <img src="<%= post.escape('full_img') %>">

  <div class="likes-count">
    <i class="icon-heart-empty"></i>
    <span class="likes-count-num"><%= post.escape('like_count') %></span>
  </div>
</section>

<div class="post-content">
  <div class="post-caption">
    <%= post.escape('caption') %>
  </div>
  <% if (post.escape('comment_count') > 0) { %>
    <div class="post-comments">
    </div>
  <% } %>
  <form class="add-comment">
    <textarea name='comment[body]' id='body' placeholder value='Whoa! This is...'>
    </textarea><br>
    <button>Submit</button>
  </form>
</div>
