
<section class="modal-img-container">
  <img src="<%= post.escape('full_img') %>">

  <div class="likes-count">
    <i class="icon-heart-empty"></i>
    <span class="likes-count-num"><%= post.escape('like_count') %></span>
  </div>
</section>

<div class="post-content">
  <div class="post-caption">
    <%= post.escape('caption') %>
  </div>
  <div class="post-comments">
  </div>

  <form class="comment-form">
    <input type="hidden" name="comment[post_id]" value="<%= post.escape('id') %>">
    <textarea name='comment[body]' id='body' placeholder='Whoa! This is...'>
    </textarea><br>
    <button class="add-comment">Submit</button>
  </form>
</div>
