// Z-Index
// .top-nav 1
// .errors 6
// .main 0
//   .post-item 0
//   .likes-count 1
// .modal 5
//   .modal-form 3
//   .modal-close 2


//   .main 2
//   .post-item 0
//   .likes-count 1
// .modal 1
//   .modal-form 3
//   .modal-close 2

html, body, header, main, div, section, figure, p, ul, li, span, h2 {
   margin: 0;
   padding: 0;
   font: inherit;
   color: inherit;
   box-sizing: inherit;
   text-decoration: inherit;
   -webkit-font-smoothing: antialiased;
 }

.feed-list {
  list-style: none;
}

.feed-item {
  display: block;
  float: left;
  margin: 20px;
}

body {
  font-family: 'roboto';
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.4s ease;
}

a:hover {
  color: #999;
}

.alert a, .alert a:visited {
  color: 'navy';
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.btn,
.page-title,
.card-show {
  font-family: 'roboto';
  font-weight: 300;
}

.btn {
  border: 1px solid #999;
  color: #999;
  background: white;
  overflow: hidden;
  border-radius: 20px;
  font-size: 15px;
}

.navbar-btn {
  padding: 10px;
  margin: 3px 5px;
}

.btn:hover, .btn:focus {
  background: black;
  cursor: pointer;
  border-color: #000;
  color: #fff;
}

.alert {
  position: relative;
  margin: 0 auto;
  width: 400px;
  padding: 11px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  background-color: #eee;
  font-weight: 300;
  font-family: 'open sans';
}

.new-category {
  font-size: 25px;
  padding: 5px 12px 5px 11px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.errors {
  top: 0;
  position: relative;
  width: 350px;
  text-align: center;
  z-index: 6;
  margin: 0 auto;
  padding: 8px 0 10px;
  background-color: #eee;
  border-radius: 0 0 10px 10px;
}

.topnav {
  top: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 2px solid black;
  opacity: 1;
  z-index: 1;
}

.topnav-brand,
.topnav-brand-logo {
  font-family: 'playfair display', sans-serif;
}

.topnav-brand {
  display: block;
  float: left;
  margin: 0 60px;
}

.topnav-brand-logo {
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size: 48px;
  font-weight: bold;
}

.topnav-menu-left {


  float: left;
  list-style: none;
  margin-top: 15px;

  li {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 24px;
    margin: 6px 30px;
  }
}

.topnav-menu-right {
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 30px;
}

.topnav-menu-right li, .topnav-menu-left li {
  float: left;
}

#main {
  background: #fffeff;
  margin-bottom: 150px;
}

.group-list {

}

.group-item {
  top: 72px;
  position: relative;
  display: block;
  margin: 0 20px;
  text-align: center;
  padding-top: 40px;
}

.group-title {
  font: 700 42px "Playfair Display", serif;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  margin: 0 auto 40px;
  display: block;
  text-align: center;

  a {
    display: block;
    padding: 30px 50px 20px;
  }

  strong {
    display: inline-block;
    border-bottom: 4px double #000;
    transition: border-color 0.4s ease;
  }

  strong:hover {
    border-color: #999;
  }
}

// @font-face {
//   font-family: 'ProximaNova-Black';
//   src: url('proximanova-black.ttf');
// }

.group-posts {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.post-item {
  list-style: none;
  display:inline-block;
  padding: 30px 40px 20px 40px;
  border: 1px solid #fff;
  color: #999;
  transition: border 0.5s ease;
  z-index: 0;
  margin: 0 1%;
  width: 400px;

  img {
    transition: all 0.3s ease;
  }
}

.post-item:hover {
  border: 1px solid #ccc;
  cursor: pointer;

  .group-name a {
    color: #000;
  }

  .post-author {
    margin-top: -25px;
  }

  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }

  .counters {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

.group-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  text-align: left;

  a {
    color: #999;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #000;
    text-decoration: underline;
  }
}

.img-container {
  overflow: hidden;
  position: relative;
}

.post-author {
  position: absolute;
  font-size: 13px;
  padding: 5px 5px;
  width: 310px;
  text-align: left;
  color: #000;
  margin-top: 0;
  letter-spacing: 1px;
  transition: margin-top 0.3s ease;
}

.counters {
  padding-top: 20px;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.66, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.66, 0, 0.07, 1);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.likes-count {
  z-index: 1;

  i {
    float: left;
  }
}

.likes-count, .comments-count {
  float: left;
}

.likes-count:hover, .comments-count:hover {
  color: #000;
}

.comments-count {
  margin-left: 8px;
}

.likes-count-num {
  margin-left: 3px;
}

.icon-comment-alt {
  position: relative;
  top: -1px;
}

/* Modal */

.modal {
  // background: white;
  //
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  // margin: -25% 0 0 -25%;
  z-index: 5;

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}

.modal-is-open {
  overflow: hidden;

  .modal {
    opacity: 1;
    /* Clickable */
    pointer-events: auto;
  }

  #main, .topnav {
    -webkit-filter: blur(5px) grayscale(50%);
    -moz-filter: blur(5px) grayscale(50%);
    -o-filter: blur(5px) grayscale(50%);
    -ms-filter: blur(5px) grayscale(50%);
    filter: blur(5px) grayscale(50%);
  }
}

.sign-page {
  .topnav, footer {
    display: none;
  }
}

#main, .topnav {
  transition: background 0.3s ease;
}

.modal {
  transition: opacity 0.3s ease;
}

.modal-form {
  position: fixed;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #fff;
  z-index: 3;
  display: block;
  width: 700px;
  overflow-y: auto;
}

.modal-close {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
}


.dark-modal {
  -webkit-filter: brightness(50%) opacity(90%);
  -moz-filter: brightness(50%) opacity(90%);
  -o-filter: brightness(50%) opacity(90%);
  -ms-filter: brightness(50%) opacity(90%);
  filter: brightness(50%) opacity(90%);
}

/* New Feed Modal */

.new-feed-form {
  input {
    border: solid 1px #eee;
    border-radius: 4px;
  }
}

.ig-handle-input {
  font-size: 24px;
  padding: 8px;
}

.category-option, .country-option {
  font-size: 20px;
}

.category-option {
  font-size: 20px;
}

.country-option {

}

/* Post Modal */

.modal-img-container {
  display: inline;
  div {
    float: left;
  }
}

.post-left {
  width: 50%;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 12px;
}

.post-right {
  font-family: 'Playfair Display';
  width: 50%;
  text-align: right;
  letter-spacing: 1px;
  padding-top: 2px;

  section {
    display: inline;
    border-right: 1px solid #ccc;
    padding-right: 15px;
    margin-right: 18px;
  }
}

.post-content {
  overflow: auto;
}

.likes {
  padding-top: 12px;
  font-family: 'open sans';
  font-size: 16px;
  span {
    vertical-align: top;
    line-height: 2;
  }
  .fa-heart {
    color: #555;
    font-size: 32px;
  }
}

.post-caption {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 15px;
  font-size: 22px;
  font-weight: 300;
}

.post-comments {
  padding: 5px 0;
}

.comment-item {
  padding: 5px 0;
  font-family: 'open sans';
  font-size: 12px;
}

.comment-body {
  width: 87%;
  border: solid 1px #aaa;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  position: relative;
  float: left;
}

.add-comment {
  float: right;
  padding: 8px;
}

.add-feed {
  padding: 8px 20px;
  margin-top: 8px;
  font-size: 18px;
}

.pointer {
  cursor: pointer;
}

/* Form Styling */

.brand-title {
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size: 48px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  border-bottom: solid 1px #000;
  width: 300px;
  padding: 30px 0;
  margin: 50px auto 40px;
}

.brand-subtitle {
  margin: 40px auto;
  position: relative;
  width: 350px;
  line-height: 1.5;
  text-align: center;
}

input {
  border: none;
  padding: 5px;
}

button {
  position: relative;
  display: block;
}

.login, .signup {
  input, button {
    display: block;
    margin: 0 auto;
  }

  input:first-of-type, .signup input:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid #999;
  }

  input:last-of-type, .signup input:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.account-field {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  height: 25px;
  font-size: 16px;
  width: 230px;
}

.account-btn {
  width: 300px;
  font-size: 22px;
  height: 40px;
}

.small-btn {
  margin: 0 auto;
  width: 150px;
  font-size: 18px;
  height: 30px;
}

footer {
  border-top: solid 2px black;
  padding: 50px;
  text-align: center;
  font-family: 'open sans';
  font-weight: 300;
  letter-spacing: 2px;
  display: block;

  a {
    color: #555;
  }
  a:hover {
    color: #000;
  }
}

/* Fade-in Effects */

.animation-fadein {
  overflow: hidden;
  -webkit-transform: translate3d(1, 0, 0);
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    top: 10%;
  opacity: 0 }to{ top: 0%; opacity: 1 }
}

@-webkit-keyframes fadein
{ from { top: 10%;
  opacity: 0 }to{ top: 0%; opacity: 1 } }

/* Hover Effects */

.hvr-radial-out {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* Responsive */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
/* Styles */
}

@media all and (max-width: 1172px) {
  .post-item {
    width: 36%;
  }
}

@media all and (max-width: 760px) {
  .post-item {
    width: 70%;
  }

  .topnav-menu-left li {
    font-size: 20px;
  }

  .navbar-btn {
    font-size: 12px;
  }
}

/* Font Libraries */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
