<h1><%= category.escape('title') %></h1>
<ul>
  <% category.posts().each(function (post) { %>
  <li>
  <a href="#/posts/<%= post.id %>">
    <img src="<%= post.escape("thumb_img") %>" alt="" />
  </a>
  </li>
  <% }); %>
</ul>
<a href='#/'><< Back</a>
