<h2 class="category-title">
  <strong>
    <a href="#/categories/<%= category.escape('title').toLowerCase() %>"><%= category.escape("title") %></a>
  </strong>
</h2>

<ul class="category-posts group">

</ul>
