<h2 class="group-title">
  <strong>
    <% if (groupBy == "category") { %>
      <a href="#/categories/<%= category.escape('name').toLowerCase() %>">
        <%= category.escape("name") %>
      </a>
    <% } else if (groupBy == "country") { %>
      <a href="#/countries/<%= category.escape('name').toLowerCase() %>">
        <%= category.escape("name") %>
      </a>
    <% } else if (groupBy == "liked") { %>
      <a>Liked</a>
    <% } %>
  </strong>
</h2>

<ul class="group-posts group">

</ul>
