<nav class="topnav group">
  <ul class="topnav-menu-left">
    <figure class="topnav-brand">
      <a class="topnav-brand-logo" href="/#"><i>l</i></a>
    </figure>
    <li>
      <a href="#">Following</a>
    </li>
    <li>
      <a href="#/countries">Countries</a>
    </li>
  </ul>
  <ul class="topnav-menu-right">
  <% if signed_in? %>
    <li>
      <button class='new-feed navbar-btn btn new-category hvr-radial-out'>
        +
      </button>
    </li>
    <li>
      <%= button_to "Sign out", session_url, method: :delete, class: "navbar-btn btn hvr-radial-out" %>
    </li>

  <% else %>
    <li>
      <a href="/session/new">
        <button class='navbar-btn btn hvr-radial-out login-btn'>
          Log in
        </button>
      </a>
    </li>
    <li>
      <a href="/users/new" style="padding: 0;">
        <button class='navbar-btn btn hvr-radial-out'>
          Sign up
        </button>
      </a>
    </li>
  <% end %>
  </ul>
</nav>

<%= flash[:errors] %>
<% if flash[:errors] %>
  <div class="errors">
    <%= flash[:errors].join("<br>").html_safe %>
  </div>
<% end %>
